node_modules/
wsdl/
config.*.yml
temp/
coverage/
dist/
.env*
resources/

# Ignore Terraform static assets
# terraform/static is a build artifact populated by build.sh
terraform/static

# Don't ignore WSDL files in src/static/wsdl
!src/static/wsdl
